.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 2px;
    margin: 2px;
    position: relative;
    font-weight: bold;
    background-color: crimson;
    width: 100px;
    height: 45px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}